services:
  - type: web
    name: flask-portfolio
    env: python
    plan: free
    buildCommand: pip install --upgrade pip && pip install -r requirements.txt
    startCommand: bash -c "FLASK_APP=app.py flask db upgrade && python create_admin.py && gunicorn -b 0.0.0.0:$PORT wsgi:application"
    autoDeploy: true
    healthCheckPath: /
    disk:
      name: portfolio-data
      mountPath: /var/data
      sizeGB: 1
    envVars:
      - key: SECRET_KEY
        sync: false
      - key: MAIL_SERVER
        value: "smtp.gmail.com"
      - key: MAIL_PORT
        value: "587"
      - key: MAIL_USE_TLS
        value: "true"
      - key: MAIL_USERNAME
        sync: false
      - key: MAIL_PASSWORD
        sync: false
      - key: MAIL_DEFAULT_SENDER
        sync: false
      - key: ADMIN_USERNAME
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
      - key: DATABASE_URL
        value: "sqlite:////var/data/portfolio.db"